{% extends 'cv/base.html' %}

{% block header %}
	{% if names|length > 0 %}
		{% for name in names %}
			{% if forloop.counter0 %}
				/
			{% endif %}
			<b><span>{{ name }}</span></b>
		{% endfor %}
	{% else %}
		<b><span>CV</span></b>
	{% endif %}
{% endblock %}

{% block content %}
	{% if contacts|length > 0 %}
		<div id="Contact" class="section">
			{% for contact in contacts %}
				<div>
					<p>
						<span class="email">{{ contact.email }}</span>
						{% if contact.phone %}
							<br><span class="phone">{{ contact.phone }}</span>
						{% endif %}
						{% if contact.website %}
							<br><span class="website">{{ contact.website }}</span>
						{% endif %}
					</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if skills|length > 0 %}
		<div id="Skills" class="section">
			{% for skill in skills %}
				<div>
					<p>
						<b class="title">{{ skill.title }}</b>
						<br><span class="desc">{{ skill.description }}</span>
					</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if experiences|length > 0 %}
		<div id="Experience" class="section">
			{% for experience in experiences %}
				<div>
					<p>
						<b class="employer">{{ experience.employer }}</b>, <i class="position">{{ experience.position }}</i>
						<br><span class="desc">{{ experience.description }}</span>
					</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if educations|length > 0 %}
		<div id="Education" class="section">
			<div>
				{% for education in educations %}
					<p>{{ education }}</p>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}