{% extends 'cv/base.html' %}

{% block header %}
	{% if names|length > 0 %}
		{% for name in names %}
			{% if forloop.counter0 %}
				/
			{% endif %}
			<b><span>{{ name }}</span></b>
		{% endfor %}
	{% else %}
		<b><span>CV</span></b>
	{% endif %}
{% endblock %}

{% block content %}
	<div id="Contact" class="section">
		<div>
			{% for contact in contacts %}
				<p>{{ contact }}</p>
			{% endfor %}
		</div>
	</div>
	<div id="Skills" class="section">
		<div>
			{% for skill in skills %}
				<p><u>{{ skill.title }}</u>: {{ skill.description }}</p>
			{% endfor %}
		</div>
	</div>
	<div id="Experience" class="section">
		<div>
			{% for experience in experiences %}
				<p>{{ experience }}</p>
			{% endfor %}
		</div>
	</div>
	<div id="Education" class="section">
		<div>
			{% for education in educations %}
				<p>{{ education }}</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}