{% extends 'cv/base.html' %}

{% block header %}
	{% if names|length > 0 %}
		{% for name in names %}
			{% if forloop.counter0 %}
				/
			{% endif %}
			<b><span>{{ name }}</span></b>
		{% endfor %}
	{% else %}
		<b><span>CV</span></b>
	{% endif %}
{% endblock %}

{% block content %}
	{% if contacts|length > 0 %}
		<div id="Contact" class="section">
			{% for contact in contacts %}
				<div>
					<p>
						<span class="email">{{ contact.email }}</span>
						{% if contact.phone %}
							<br><span class="phone">{{ contact.phone }}</span>
						{% endif %}
						{% if contact.website %}
							<br><a href="{{ contact.website }}" class="website">{{ contact.website }}</a>
						{% endif %}
					</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if skills|length > 0 %}
		<div id="Skills" class="section">
			{% for skill in skills %}
				<div>
					<p>
						<b class="title">{{ skill.title }}</b>
						{% if skill.description %}
							<br><span class="desc">{{ skill.description }}</span>
						{% endif %}
					</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if experiences|length > 0 %}
		<div id="Experience" class="section">
			{% for experience in experiences %}
				<div>
					<p>
						<b><span class="start_date">{{ experience.start_date }}</span>{% if experience.end_date %} -- <span class="end_date">{{ experience.end_date }}</span>{% endif %}</b> <i><span class="employer">{{ experience.employer }}</span>, <span class="position">{{ experience.position }}</span></i>
						{% if experience.description %}
							<br><span class="desc">{{ experience.description }}</span>
						{% endif %}
					</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if educations|length > 0 %}
		<div id="Education" class="section">
			{% for education in educations %}
				<div>
					<p>
						<b><span class="start_date">{{ education.start_date }}</span>{% if education.end_date %} -- <span class="end_date">{{ education.end_date }}</span>{% endif %}</b> <i><span class="institution">{{ education.institution }}</span>, <span class="city">{{ education.city }}</span> (<span class="country">{{ education.country }}</span>), <span class="qualification">{{ education.qualification }}</span> in <span class="subject">{{ education.subject }}</span></i>
					</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}